In [8]:
import math
import pandas as pd
from sklearn import linear_model

In [9]:
df = pd.read_csv('homeprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [10]:
bedroom_median = math.floor(df.bedrooms.median())
df.bedrooms = df.bedrooms.fillna(bedroom_median)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [12]:
reg = linear_model.LinearRegression()
reg.fit(df[['area', 'bedrooms', 'age']], df.price)

LinearRegression()

In [13]:
reg.predict([[3000, 4, 20]])

array([586431.48983091])

In [14]:
reg.predict([[2500, 4, 5]])

array([578876.03748933])